@import "compass/reset";
@import "compass/css3";
@import "outernet/ui";
@import "outernet/mixins/media_query";

$wide: 976px;
$medium: 728px;
$narrow: 560px;

@mixin six-col-even {
  @include col6; 
  @include narrower-than($wide) { @include col3($width-only: yes); }
  @include narrower-than($medium) { @include col1($width-only: yes); }
}

@mixin four-col-even {
  @include col4; 
  @include narrower-than($medium) { @include col2($width-only: yes) }
  @include narrower-than($narrow) { @include col1($width-only: yes) }
}

@mixin two-col-even {
  @include col2; 
  @include narrower-than($narrow) { @include col1($width-only: yes) }
}

body {
  background: image-url('bg.png');
}

.section, header {
  max-width: 1200px;
  margin: 0 auto;
  background: $white;
  margin-bottom: $base-size;
}

.section {
  @include grid-container;

  .section-title {
    @include row;

    h2 {
      @include col1;
    }
  }
}

.docs {
  display: block;
  @include simple-row;
  @include sub;
  color: $sub;

  strong {
    color: $forest;
  }
}

header {
  @include grid-padding;

  h1 { 
    @include heading-0;
  }
}

.swatches {
  @include row;
  .col { @include six-col-even; }

  li {
    margin-bottom: 1em;
    text-transform: uppercase;

    .swatch-label {
      @include sub;

      &.main {
        @include bold;
      }
    }
  }
}

.swatch {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: top;

  @each $color, $value in $colors {
    @each $shade, $value in $value {
      &.#{$color}#{$shade} { 
        background-color: #{$value};
      }
    }
  }

  &.universe {
    background-color: $universe;
  }

  &.base {
    background-color: $base;
  }

  &.sub {
    background-color: $sub;
  }

  &.iconic {
    background-color: $iconic;
  }

  &.border {
    background-color: $border;
  }

  &.earth {
    background-color: $earth;
  }
  
  &.input {
    background-color: $input;
  }
}


.typography {
  .section-title {
    h2, .note { @include two-col-even; }

    .note {
      color: $iconic;
      margin-top: 36px;
    }
  }

  .headings {
    @include simple-row;
  }

  .heading-0 {
    @include heading-0;
  }

  .heading-1 {
    @include heading-1;
  }

  .heading-2 {
    @include heading-2;
  }

  .heading-3 {
    @include heading-3;
  }

  .heading-4 {
    @include heading-4;
  }

  .heading-5 {
    @include heading-5;
  }

  .heading-6 {
    @include heading-6;
  }

  .body-text {
    @include row;

    .regular, .sub, .code, .misc {
      @include two-col-even;
    }
  }

  .sub {
    @include sub;
    color: $sub;
  }

  .links {
    @include row;

    .docs {
      padding: 0;
    }

    .link-type {
      @include four-col-even;

      .normal, .visited {
        @include link-base;
      }
    }

    .normal {
      .normal {
        @include link-normal;
      }

      .visited {
        @include link-visited-color($link-normal-color);
      }
    }

    .cta {
      .normal {
        @include link-cta;
      }

      .visited {
        @include link-visited-color($link-cta-color, 100);
      }
    }

    .confirm {
      .normal {
        @include link-confirm;
      }

      .visited {
        @include link-visited-color($link-confirm-color, 100);
      }
    }

    .delete {
      .normal {
        @include link-delete;
      }

      .visited {
        @include link-visited-color($link-delete-color, 100);
      }
    }
  }
}

.forms {
  .fields {
    @include row;

    .col {
      @include two-col-even;
    }
  }

  .field {
    @include input-container;
  }

  .form-input-custom-icon input {
    @include input-icon('lock');
  }
}

.grid {
  .intro {
    @include simple-row;
  }

  .grid-container {
    @include grid-container;
    border: 1px solid $fire25;
  }

  .grid-row {
    @include row;

    .col {
      border: 1px solid $sun25;
      text-align: center;
    }

    .content {
      background: $earth;
      min-height: 50px;
    }
  }

  .cols1 .col {
    @include col1;
  }

  .cols2 .col {
    @include col2;
  }

  .cols4 .col {
    @include col4;
  }

  .cols6 .col {
    @include col6;
  }

  .cols-mixed {
    .col4 {
      @include col4;
    }

    .col6 {
      @include col6;
    }
  }

  .cols-nested {
    .col-left {
      @include col6(2);
    }

    .col-right {
      @include col6(4);

      .nested-row {
        @include row;
      }

      .col {
        @include col1;
      }
    }
  }
}

.buttons {
  h3.subsection {
    @include simple-row;
  }

  .buttons-demo {
    @include simple-row;
  }

  .buttons-reverse {
    background: $sky;
    padding: 10px;

    .docs {
      color: $sky10;

      code {
        color: $base;
      }
    }
  }
}

.widgets {
  .widget {
    @include simple-row;
  }

  .accordion {
    @include accordion;

    .row {
      @include row;
    }

    .col {
      @include two-col-even;
    }
  }
}
