/* line 5, /home/foxbunny/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /home/foxbunny/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /home/foxbunny/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /home/foxbunny/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /home/foxbunny/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /home/foxbunny/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /home/foxbunny/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /home/foxbunny/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /home/foxbunny/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 93, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h1 {
  font-size: 175%;
  line-height: 125%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 98, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h2 {
  font-size: 162.5%;
  line-height: 123%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 103, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h3 {
  font-size: 150%;
  line-height: 125%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 108, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h4 {
  font-size: 137.5%;
  line-height: 127%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 113, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h5 {
  font-size: 125%;
  line-height: 130%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 118, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h6 {
  font-size: 112.5%;
  line-height: 116%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 123, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
p {
  margin-bottom: 1em;
}

/* line 127, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
b, strong {
  font-weight: bold;
}

/* line 131, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
i, em {
  font-style: italic;
}

/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 93, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h1 {
  font-size: 175%;
  line-height: 125%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 98, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h2 {
  font-size: 162.5%;
  line-height: 123%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 103, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h3 {
  font-size: 150%;
  line-height: 125%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 108, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h4 {
  font-size: 137.5%;
  line-height: 127%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 113, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h5 {
  font-size: 125%;
  line-height: 130%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 118, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h6 {
  font-size: 112.5%;
  line-height: 116%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 123, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
p {
  margin-bottom: 1em;
}

/* line 127, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
b, strong {
  font-weight: bold;
}

/* line 131, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
i, em {
  font-style: italic;
}

/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 93, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h1 {
  font-size: 175%;
  line-height: 125%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 98, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h2 {
  font-size: 162.5%;
  line-height: 123%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 103, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h3 {
  font-size: 150%;
  line-height: 125%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 108, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h4 {
  font-size: 137.5%;
  line-height: 127%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 113, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h5 {
  font-size: 125%;
  line-height: 130%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 118, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h6 {
  font-size: 112.5%;
  line-height: 116%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 123, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
p {
  margin-bottom: 1em;
}

/* line 127, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
b, strong {
  font-weight: bold;
}

/* line 131, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
i, em {
  font-style: italic;
}

/* line 46, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_hyperlinks.scss */
a {
  text-decoration: none;
  cursor: pointer;
  color: #3584cf;
}
/* line 13, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_hyperlinks.scss */
a:hover {
  text-decoration: underline;
}
/* line 25, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_hyperlinks.scss */
a:visited {
  color: #28639b;
}

/**
 * _forms.scss: form control definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 93, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h1 {
  font-size: 175%;
  line-height: 125%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 98, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h2 {
  font-size: 162.5%;
  line-height: 123%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 103, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h3 {
  font-size: 150%;
  line-height: 125%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 108, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h4 {
  font-size: 137.5%;
  line-height: 127%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 113, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h5 {
  font-size: 125%;
  line-height: 130%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 118, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
h6 {
  font-size: 112.5%;
  line-height: 116%;
  margin-top: 1em;
  margin-bottom: 16px;
}

/* line 123, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
p {
  margin-bottom: 1em;
}

/* line 127, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
b, strong {
  font-weight: bold;
}

/* line 131, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_fonts.scss */
i, em {
  font-style: italic;
}

/* line 152, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
label {
  font-weight: bold;
  display: block;
  padding-left: 15px;
  padding-bottom: 4px;
  cursor: pointer;
}
/* line 30, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
label.required:after {
  content: '*';
  color: #c41414;
}
/* line 159, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
input[type="checkbox"] + label, label.checkbox {
  font-style: none;
  font-weight: normal;
  display: inline-block;
  padding: 0 0 0 4px;
  line-height: 40px;
}

/* line 165, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
input[type="text"],
input[type="numeric"],
input[type="email"],
input[type="file"],
textarea,
select {
  width: 100%;
  max-width: 400px;
  padding: 8px 15px 9px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid transparent;
  color: #555555;
  background-color: #fafafa;
  border-color: #dddddd;
  outline: none;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 82, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
input[type="text"]:focus,
input[type="numeric"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {
  color: #555555;
  background-color: #f3f8fc;
  border-color: #cddff3;
  outline: none;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
/* line 174, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
input[type="text"].positive,
input[type="numeric"].positive,
input[type="email"].positive,
input[type="file"].positive,
textarea.positive,
select.positive {
  color: #058120;
  background-color: #f1f8f1;
  border-color: #c1dfc7;
  outline: none;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
/* line 177, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
input[type="text"].positive:focus,
input[type="numeric"].positive:focus,
input[type="email"].positive:focus,
input[type="file"].positive:focus,
textarea.positive:focus,
select.positive:focus {
  color: #555555;
  background-color: #f3f8fc;
  border-color: #cddff3;
  outline: none;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
/* line 182, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
input[type="text"].negative,
input[type="numeric"].negative,
input[type="email"].negative,
input[type="file"].negative,
textarea.negative,
select.negative {
  color: #c41414;
  background-color: #fbf1f0;
  border-color: #f0c4c5;
  outline: none;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
/* line 185, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
input[type="text"].negative:focus,
input[type="numeric"].negative:focus,
input[type="email"].negative:focus,
input[type="file"].negative:focus,
textarea.negative:focus,
select.negative:focus {
  color: #555555;
  background-color: #f3f8fc;
  border-color: #cddff3;
  outline: none;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

/* line 191, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
input[type="checkbox"] {
  margin-left: 15px;
  margin-right: -18px;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
  display: inline-block;
}
/* line 199, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
input[type="checkbox"] + label:before {
  content: ' ';
  display: inline-block;
  border: 1px solid #dddddd;
  background: #fafafa;
  width: 15px;
  height: 15px;
  padding: 0.2em;
  vertical-align: middle;
  position: relative;
  margin: 0 2px 0 4.5px;
  padding: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 204, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
input[type="checkbox"]:checked + label {
  color: #058120;
}
/* line 207, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
input[type="checkbox"]:checked + label:before {
  color: #058120;
  background-color: #f1f8f1;
  border-color: #c1dfc7;
  outline: none;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  background-image: url('/static/img/icons/1x/checkmark.png?1433342935');
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 212, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
input[type="checkbox"]:focus + label {
  color: #3584cf;
}
/* line 215, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
input[type="checkbox"]:focus + label:before {
  color: #555555;
  background-color: #f3f8fc;
  border-color: #cddff3;
  outline: none;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
/* line 220, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
input[type="checkbox"]:focus:checked + label:before {
  background-image: url('/static/img/icons/1x/checkmark_active.png?1433344278');
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 225, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
textarea {
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  resize: vertical;
  height: 6.875em;
  min-height: 4.125em;
  max-height: 16.5em;
}

/* line 233, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 8px 15px 9px;
  text-indent: 0.01px;
  text-overflow: "";
  padding-right: 50px;
  background-image: url('/static/img/icons/1x/arrow_down_sky.png?1432117154');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
}
/* line 100, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
select::-ms-expand {
  display: none;
}
/* line 240, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
select option {
  color: #888888;
  background: #fafafa;
  border-radius: 2px;
  padding: 0 15px;
}
/* line 112, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
select option[value] {
  color: #555555;
}

/* line 245, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
select::-ms-expand {
  display: none;
}

/* line 252, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
.field-help {
  font-size: 87.5%;
  line-height: 137.5%;
  color: #888888;
  display: block;
  padding-left: 15px;
  padding-top: 6px;
}

/* line 257, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_forms.scss */
.field-error {
  font-size: 87.5%;
  line-height: 137.5%;
  color: #888888;
  display: block;
  padding-left: 15px;
  padding-top: 6px;
  color: #c41414;
}

/* line 9, ../../scss/outernet/_ui.scss */
body {
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  color: #333333;
}

/* line 5, ../../scss/main.scss */
body {
  background: url('/static/img/bg.png?1433247963');
}

/* line 9, ../../scss/main.scss */
.section, header {
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  margin-bottom: 16px;
}

/* line 16, ../../scss/main.scss */
.section {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 25, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_grid.scss */
.section .section-title:after {
  content: '';
  display: block;
  width: 100%;
  clear: left;
}
/* line 22, ../../scss/main.scss */
.section .section-title h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}

/* line 28, ../../scss/main.scss */
.docs {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #888888;
}

/* line 33, ../../scss/main.scss */
header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 36, ../../scss/main.scss */
header h1 {
  font-size: 437.5%;
  line-height: 110%;
}

/* line 25, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_grid.scss */
.swatches:after {
  content: '';
  display: block;
  width: 100%;
  clear: left;
}
/* line 44, ../../scss/main.scss */
.swatches .col {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 16.6666666667%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}
/* line 48, ../../scss/main.scss */
.swatches li {
  margin-bottom: 1em;
  text-transform: uppercase;
}
/* line 52, ../../scss/main.scss */
.swatches li .swatch-label {
  font-size: 87.5%;
  line-height: 137.5%;
}
/* line 55, ../../scss/main.scss */
.swatches li .swatch-label.main {
  font-weight: bold;
}

/* line 62, ../../scss/main.scss */
.swatch {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: top;
}
/* line 70, ../../scss/main.scss */
.swatch.sky25d {
  background-color: #28639b;
}
/* line 70, ../../scss/main.scss */
.swatch.sky100 {
  background-color: #3584cf;
}
/* line 70, ../../scss/main.scss */
.swatch.sky75 {
  background-color: #68a3db;
}
/* line 70, ../../scss/main.scss */
.swatch.sky50 {
  background-color: #9ac2e6;
}
/* line 70, ../../scss/main.scss */
.swatch.sky25 {
  background-color: #cddff3;
}
/* line 70, ../../scss/main.scss */
.swatch.sky10 {
  background-color: #ebf2fa;
}
/* line 70, ../../scss/main.scss */
.swatch.sky6 {
  background-color: #f3f8fc;
}
/* line 70, ../../scss/main.scss */
.swatch.ocean25d {
  background-color: #0f3a65;
}
/* line 70, ../../scss/main.scss */
.swatch.ocean100 {
  background-color: #134e87;
}
/* line 70, ../../scss/main.scss */
.swatch.ocean75 {
  background-color: #4f7aa5;
}
/* line 70, ../../scss/main.scss */
.swatch.ocean50 {
  background-color: #89a7c3;
}
/* line 70, ../../scss/main.scss */
.swatch.ocean25 {
  background-color: #c3d3e2;
}
/* line 70, ../../scss/main.scss */
.swatch.ocean10 {
  background-color: #e8edf3;
}
/* line 70, ../../scss/main.scss */
.swatch.ocean6 {
  background-color: #f0f5f8;
}
/* line 70, ../../scss/main.scss */
.swatch.sun25d {
  background-color: #a95902;
}
/* line 70, ../../scss/main.scss */
.swatch.sun100 {
  background-color: #e17502;
}
/* line 70, ../../scss/main.scss */
.swatch.sun75 {
  background-color: #ec973c;
}
/* line 70, ../../scss/main.scss */
.swatch.sun50 {
  background-color: #f1ba81;
}
/* line 70, ../../scss/main.scss */
.swatch.sun25 {
  background-color: #f7dcc1;
}
/* line 70, ../../scss/main.scss */
.swatch.sun10 {
  background-color: #fbf1e5;
}
/* line 70, ../../scss/main.scss */
.swatch.sun6 {
  background-color: #fef7f1;
}
/* line 70, ../../scss/main.scss */
.swatch.forest25d {
  background-color: #056118;
}
/* line 70, ../../scss/main.scss */
.swatch.forest100 {
  background-color: #058120;
}
/* line 70, ../../scss/main.scss */
.swatch.forest75 {
  background-color: #45a158;
}
/* line 70, ../../scss/main.scss */
.swatch.forest50 {
  background-color: #82c08f;
}
/* line 70, ../../scss/main.scss */
.swatch.forest25 {
  background-color: #c1dfc7;
}
/* line 70, ../../scss/main.scss */
.swatch.forest10 {
  background-color: #e7f3e9;
}
/* line 70, ../../scss/main.scss */
.swatch.forest6 {
  background-color: #f1f8f1;
}
/* line 70, ../../scss/main.scss */
.swatch.fire25d {
  background-color: #931010;
}
/* line 70, ../../scss/main.scss */
.swatch.fire100 {
  background-color: #c41414;
}
/* line 70, ../../scss/main.scss */
.swatch.fire75 {
  background-color: #d24f4f;
}
/* line 70, ../../scss/main.scss */
.swatch.fire50 {
  background-color: #e18988;
}
/* line 70, ../../scss/main.scss */
.swatch.fire25 {
  background-color: #f0c4c5;
}
/* line 70, ../../scss/main.scss */
.swatch.fire10 {
  background-color: #fae8e8;
}
/* line 70, ../../scss/main.scss */
.swatch.fire6 {
  background-color: #fbf1f0;
}
/* line 76, ../../scss/main.scss */
.swatch.universe {
  background-color: #333333;
}
/* line 80, ../../scss/main.scss */
.swatch.base {
  background-color: #555555;
}
/* line 84, ../../scss/main.scss */
.swatch.sub {
  background-color: #888888;
}
/* line 88, ../../scss/main.scss */
.swatch.iconic {
  background-color: #bbbbbb;
}
/* line 92, ../../scss/main.scss */
.swatch.border {
  background-color: #dddddd;
}
/* line 96, ../../scss/main.scss */
.swatch.earth {
  background-color: #eeeeee;
}
/* line 100, ../../scss/main.scss */
.swatch.input {
  background-color: #fafafa;
}

/* line 108, ../../scss/main.scss */
.typography .section-title h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}
/* line 112, ../../scss/main.scss */
.typography .section-title .note {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
  color: #bbbbbb;
  margin-top: 36px;
}
/* line 119, ../../scss/main.scss */
.typography .headings {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 123, ../../scss/main.scss */
.typography .heading-0 {
  font-size: 437.5%;
  line-height: 110%;
}
/* line 127, ../../scss/main.scss */
.typography .heading-1 {
  font-size: 175%;
  line-height: 125%;
}
/* line 131, ../../scss/main.scss */
.typography .heading-2 {
  font-size: 162.5%;
  line-height: 123%;
}
/* line 135, ../../scss/main.scss */
.typography .heading-3 {
  font-size: 150%;
  line-height: 125%;
}
/* line 139, ../../scss/main.scss */
.typography .heading-4 {
  font-size: 137.5%;
  line-height: 127%;
}
/* line 143, ../../scss/main.scss */
.typography .heading-5 {
  font-size: 125%;
  line-height: 130%;
}
/* line 147, ../../scss/main.scss */
.typography .heading-6 {
  font-size: 112.5%;
  line-height: 116%;
}
/* line 25, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_grid.scss */
.typography .body-text:after {
  content: '';
  display: block;
  width: 100%;
  clear: left;
}
/* line 155, ../../scss/main.scss */
.typography .regular {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}
/* line 159, ../../scss/main.scss */
.typography .sub {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
  font-size: 87.5%;
  line-height: 137.5%;
  color: #888888;
}
/* line 25, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_grid.scss */
.typography .links:after {
  content: '';
  display: block;
  width: 100%;
  clear: left;
}
/* line 168, ../../scss/main.scss */
.typography .links .link-type {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}
/* line 171, ../../scss/main.scss */
.typography .links .link-type .normal, .typography .links .link-type .visited {
  text-decoration: none;
  cursor: pointer;
}
/* line 13, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_hyperlinks.scss */
.typography .links .link-type .normal:hover, .typography .links .link-type .visited:hover {
  text-decoration: underline;
}
/* line 177, ../../scss/main.scss */
.typography .links .normal .normal {
  color: #3584cf;
}
/* line 25, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_hyperlinks.scss */
.typography .links .normal .normal:visited {
  color: #28639b;
}
/* line 181, ../../scss/main.scss */
.typography .links .normal .visited {
  color: #28639b;
}
/* line 187, ../../scss/main.scss */
.typography .links .cta .normal {
  color: #e17502;
}
/* line 25, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_hyperlinks.scss */
.typography .links .cta .normal:visited {
  color: #e17502;
}
/* line 191, ../../scss/main.scss */
.typography .links .cta .visited {
  color: #e17502;
}
/* line 197, ../../scss/main.scss */
.typography .links .confirm .normal {
  color: #058120;
}
/* line 25, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_hyperlinks.scss */
.typography .links .confirm .normal:visited {
  color: #058120;
}
/* line 201, ../../scss/main.scss */
.typography .links .confirm .visited {
  color: #058120;
}
/* line 207, ../../scss/main.scss */
.typography .links .delete .normal {
  color: #c41414;
}
/* line 25, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_hyperlinks.scss */
.typography .links .delete .normal:visited {
  color: #c41414;
}
/* line 211, ../../scss/main.scss */
.typography .links .delete .visited {
  color: #c41414;
}

/* line 25, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_grid.scss */
.forms .fields:after {
  content: '';
  display: block;
  width: 100%;
  clear: left;
}
/* line 222, ../../scss/main.scss */
.forms .fields .col {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}
/* line 227, ../../scss/main.scss */
.forms .field {
  margin-bottom: 1.25em;
}

/* line 233, ../../scss/main.scss */
.grid .intro {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 237, ../../scss/main.scss */
.grid .grid-container {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #f0c4c5;
}
/* line 25, /home/foxbunny/code/outernet-ui-ng/scss/outernet/partial/_grid.scss */
.grid .grid-row:after {
  content: '';
  display: block;
  width: 100%;
  clear: left;
}
/* line 245, ../../scss/main.scss */
.grid .grid-row .col {
  border: 1px solid #f7dcc1;
  text-align: center;
}
/* line 250, ../../scss/main.scss */
.grid .grid-row .content {
  background: #eeeeee;
  min-height: 50px;
}
/* line 256, ../../scss/main.scss */
.grid .cols1 .col {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}
/* line 260, ../../scss/main.scss */
.grid .cols2 .col {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}
/* line 264, ../../scss/main.scss */
.grid .cols4 .col {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}
/* line 268, ../../scss/main.scss */
.grid .cols6 .col {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 16.6666666667%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}
/* line 273, ../../scss/main.scss */
.grid .cols-mixed .col4 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}
/* line 277, ../../scss/main.scss */
.grid .cols-mixed .col6 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 16.6666666667%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}
/* line 283, ../../scss/main.scss */
.grid .cols-nested .col-left {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 33.3333333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}
/* line 287, ../../scss/main.scss */
.grid .cols-nested .col-right {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 66.6666666667%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
}
