@import "outernet/partial/colors";
@import "outernet/partial/fonts";

@mixin button-base {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  &:active {
    background-color: transparent;
  }
}

@mixin button {
  @include button-base;
  @include regular;
  padding: 0.5em 1.25em 0.5em 1.25em;
  min-width: 8.125em;
  border-radius: 3.125em;
}

@mixin button-l {
  @include button-base;
  @include heading-6;
  /*padding: 16px 20px 16px 20px;*/
  padding: 0.722em 1.25em 0.722em 1.25em;
  min-width: 160px;
  border-radius: 2.778em;
}

@mixin button-inactive {
  color: #fff;
  background-color: $iconic;
}

@mixin button-inactive-s {
  color: $iconic;
  background-color: transparent;
  border: 1px solid $iconic;
}

@mixin button-action {
  color: #fff;
  background-color: $sky;
  &:hover {
    background-color:$sky25d;
  }
}

@mixin button-action-s {
  color: $sky;
  background-color: transparent;
  border: 1px solid $sky;
  &:hover {
    color:$sky25d;
    border: 1px solid $sky25d;
  }
}

@mixin button-cta {
  color: #fff;
  background-color: $sun;
  &:hover {
    background-color:$sun25d;
  }
}

@mixin button-cta-s {
  color: $sun;
  background-color: transparent;
  border: 1px solid $sun;
  &:hover {
    color:$sun25d;
    border: 1px solid $sun25d;
  }
}

@mixin button-confirm {
  color: #fff;
  background-color: $forest;
  &:hover {
    background-color:$forest25d;
  }
}

@mixin button-confirm-s {
  color: $forest;
  background-color: transparent;
  border: 1px solid $forest;
  &:hover {
    color:$forest25d;
    border: 1px solid $forest25d;
  }
}

@mixin button-delete {
  color: #fff;
  background-color: $fire;
  &:hover {
    background-color:$fire25d;
  }
}

@mixin button-delete-s {
  color: $fire;
  background-color: transparent;
  border: 1px solid $fire;
  &:hover {
    border: 1px solid $fire25d;
    color:$fire25d;
  }
}

//Reverse Buttons
@mixin button-inactive-r {
  color: $sky;
  background-color: #fff;
  opacity: 0.5;
}

@mixin button-inactive-s-r {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 0.5;
}

@mixin button-action-r {
  color: $sky;
  background-color: #fff;
  &:hover {
    color: $sky25d;
    opacity: 0.75;
  }
}

@mixin button-action-s-r {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  &:hover {
    color: $sky25d;
    background-color: #fff;
    opacity: 0.75;
  }
}

@mixin button-cta-r {
  color: $sun;
  background-color: #fff;
  &:hover {
    color: $sun25d;
    opacity: 0.75;
  }
}

@mixin button-confirm-r {
  background-color: #fff;
  color: $forest;
  &:hover {
    color:$forest25d;
    opacity: 0.75;
  }
}

@mixin button-delete-r {
  background-color: #fff;
  color: $fire;
  &:hover {
    color: $fire25d;
    opacity: 0.75;
  }
}
