@import "outernet/partial/colors";
@import "outernet/partial/fonts";

@mixin button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  &:active {
    background-color: transparent;
  }
}

@mixin button-regular {
  @include button;
  @include regular-font;
  padding: 0.5em 1.25em 0.5em 1.25em;
  min-width: 8.125em;
  border-radius: 3.125em;
}

@mixin button-large {
  @include button;
  @include heading-6;
  /*padding: 16px 20px 16px 20px;*/
  padding: 0.722em 1.25em 0.722em 1.25em;
  min-width: 160px;
  border-radius: 2.778em;
}

@mixin inactive-button-primary {
  color: #fff;
  background-color: $iconic;
}

@mixin inactive-button-secondary {
  color: $iconic;
  background-color: transparent;
  border: 1px solid $iconic;
}

@mixin action-button-primary {
  color: #fff;
  background-color: $sky;
  &:hover {
    background-color:$sky25d;
  }
}

@mixin action-button-secondary {
  color: $sky;
  background-color: transparent;
  border: 1px solid $sky;
  &:hover {
    color:$sky25d;
    border: 1px solid $sky25d;
  }
}

@mixin cta-button-primary {
  color: #fff;
  background-color: $sun;
  &:hover {
    background-color:$sun25d;
  }
}

@mixin cta-button-secondary {
  color: $sun;
  background-color: transparent;
  border: 1px solid $sun;
  &:hover {
    color:$sun25d;
    border: 1px solid $sun25d;
  }
}

@mixin confirm-button-primary {
  color: #fff;
  background-color: $forest;
  &:hover {
    background-color:$forest25d;
  }
}

@mixin confirm-button-secondary {
  color: $forest;
  background-color: transparent;
  border: 1px solid $forest;
  &:hover {
    color:$forest25d;
    border: 1px solid $forest25d;
  }
}

@mixin delete-button-primary {
  color: #fff;
  background-color: $fire;
  &:hover {
    background-color:$fire25d;
  }
}

@mixin delete-button-secondary {
  color: $fire;
  background-color: transparent;
  border: 1px solid $fire;
  &:hover {
    border: 1px solid $fire25d;
    color:$fire25d;
  }
}
