@import "outernet/partial/colors";
@import "outernet/partial/fonts";

@mixin button-base {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid transparent;
}

@mixin button-color($color: $sky, $hover: $sky25d, $style: normal) {
  @if $style == reverse {
    color: $color;
    background-color: $white;
    border-color: $white;
  } 
  @else if $style == outline {
    color: $color;
    background-color: transparent;
    border-color: $white;
  } 
  @else {
    color: $white;
    background-color: $color;
    border-color: $color;
  }


  @if $hover != no {
    &:focus,
    &:hover {
      @if $style == normal {
        color: $white;
        background-color: $hover;
        border-color: $hover;

      } @else {
        opacity: 0.75;
      }
    }
  }
}

@mixin button-label-base {
  @include regular;
}

@mixin button-label {
  @include button-label-base;
  line-height: 137.5%;
}

@mixin button-label-l {
  @include button-label-base;
  font-size: 18px;
  line-height: 116%;
}

@mixin button-geometry {
  padding: 0.5em 20px;
  width: auto;
  min-width: 170px;
  border-radius: 100px;
  @include border-radius(100px);  // make button fully rounded
}

// Default buttons

@mixin button-base-styling {
  @include button-base;
  @include button-label;
  @include button-geometry;
}

@mixin button {
  @include button-base-styling;
  @include button-color;
}

// Colors

@mixin button-normal-color($style: no) {
  @include button-color($style: $style) 
}

@mixin button-inactive-color($style: no) {
  @include button-color($color: $iconic, $hover: no, $style: $style) 
}

@mixin button-cta-color($style: no) {
  @include button-color($color: $sun, $hover: $sun25d, $style: $style);
}

@mixin button-delete-color($style: no) {
  @include button-color($color: $fire, $hover: $fire25d, $style: $style);
}

@mixin button-confirm-color($style: no) {
  @include button-color($color: $forest, $hover: $forest25d, $style: $style);
}

button,
.button { 
  @include button;

  &.cta {
    @include button-cta-color;
  }

  &.delete {
    @include button-delete-color;
  }

  &.confirm {
    @include button-confirm-color;
  }

  &.reverse {
    @include button-color($style: reverse); 

    &.cta {
      @include button-cta-color($style: reverse);
    }

    &.delete {
      @include button-delete-color($style: reverse);
    }

    &.confirm {
      @include button-confirm-color($style: reverse);
    }

    &[disabled],
    &.disabled {
      @include button-inactive-color($style: reverse);
      opacity: 0.5;
    }
  }

  &[disabled],
  &.disabled {
    @include button-inactive-color;
    cursor: default;
  }

}
