$gutter: 20px;
$col-count: 12;
$col-width: 100% / $col-count;

@mixin grid-padding-vert() {
  padding-top: $gutter / 2;
  padding-bottom: $gutter / 2;
}

@mixin grid-padding-horiz() {
  padding-left: $gutter / 2;
  padding-bottom: $gutter / 2;
}

@mixin grid-padding() {
  @include grid-padding-vert;
  @include grid-padding-horiz;
}

@mixin grid-container() {
  @include grid-padding-horiz;
}

@mixin row() {
  @include grid-padding-vert;

  &:after {
    content: '';
    display: block;
    width: 100%;
    clear: left;
  }
}

@mixin simple-row {
  @include grid-padding;
}

@mixin col-span($span) {
  width: $span * $col-width;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  float: left;
  box-sizing: border-box;
}

@mixin col6($span: 1) {
  @include col-span($span * 2)
}

@mixin col4($span: 1) {
  @include col-span($span * 3);
}

@mixin col2($span: 1) {
  @include col-span($span * 6);
}

@mixin col1() {
  @include col-span(12);
}
